@model prueba_johan.Models.Producto
@{ 
    ViewBag.Title = "Eliminar";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
</head>
<body>
    <br />
    <a href="@Url.Action("Admin", "Home")" type="button" class="btn btn-default" style="margin:50px 10px 10px">Volver</a>
    @using (Html.BeginForm("Delete", "Administrador", null, FormMethod.Post, new { enctype = "multipart/form-data" }))
    {
        <div class="modal-title">
            <h1>Eliminar Producto</h1>
        </div>
        <br />
        <div class="row">
            <div>
                <img class="img-thumbnail" style="width:300px" src="@Url.Action("convertirImagen", "Administrador", new { codigo = Model.id })" />
            </div>
            <br />
            <div class="hide" style="margin-bottom:20px">
                <div class="col-md-10">
                    @Html.TextBox("upload", null, new { type = "file" })
                    @Html.ValidationMessageFor(Model => Model.Imagen, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="form-outline mb-4">
                <input name="Descripcion" disabled type="text" value="@Model.Descripcion" placeholder="Descripcion" class="form-control form-control-lg" />
            </div>
            <br />
            <div class="form-outline mb-4">
                <input name="Precio" disabled type="number" value="@Model.Precio" placeholder="Precio" class="form-control form-control-lg" />
            </div>
            <br />
            <input type="submit" value="Eliminar" class="btn btn-primary btn-success" />
        </div>
    }
    <h1 class="alert-danger">@ViewBag.Message</h1>
</body>
</html>