
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Registrarse</title>
    @Styles.Render("~/Content/css")
</head>
<body>
    <section class="vh-100">
        <div class="container py-5 h-100">
            <div class="row d-flex align-items-center justify-content-center h-100">
                <div class="col-md-8 col-lg-7 col-xl-5">
                    <img style="height:60rem !important;" src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-login-form/draw2.svg"
                         class="float-left" alt="klk johan aqui" />
                </div>
                <div class="col-md-7 col-lg-5 col-xl-5 offset-xl-1">
                    <form action="@Url.Action("Registro","Acceso")" class="bg-info" style="margin-top:40px;padding:25px; border-radius:5px" method="post">

                        <div class="modal-title">
                            <h1>Regístrate</h1>
                        </div>
                        <br />
                        <!-- User input -->
                        <div class="form-outline mb-4">
                            <label class="form-label" for="form1Example13">Usuario</label>
                            <input name="Nombre" type="text" id="form1Example13" class="form-control form-control-lg" required />
                        </div>
                        <!-- Email input -->
                        <div class="form-outline mb-4">
                            <label class="form-label" for="form1Example13">Correo Electrónico</label>
                            <input name="Correo" type="email" id="form1Example13" class="form-control form-control-lg" required />
                        </div>

                        <!-- Password input -->
                        <div class="form-outline mb-4">
                            <label class="form-label" for="form1Example23">Contraseña</label>
                            <input name="Clave1" type="password" id="form1Example23" class="form-control form-control-lg" required />
                        </div>
                        <div class="form-outline mb-4">
                            <label class="form-label" for="form1Example23">Confirmar contraseña</label>
                            <input name="Clave2" type="password" id="form1Example23" class="form-control form-control-lg" required />
                            <h5 class="text-danger">@ViewBag.Error</h5>
                        </div>
                        <br />
                        <br />
                        <!-- Submit button -->
                        <button type="submit" class="btn btn-primary btn-lg btn-block">Crear</button>

                        <h5 class="text-success">@ViewBag.Message</h5>

                        <br />
                        <p>¿Ya tienes una cuenta? <a href="@Url.Action("Login", "Acceso")">Inicia sesión</a></p>

                    </form>


                </div>
            </div>
        </div>
    </section>
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
</body>
</html>
